body {
    background: #232323;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

h1 {
    color: purple;
}

h2 {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, blueviolet, firebrick);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    padding: 20px;
    margin: 10px;
    margin-top: 60px;
    background-clip: text;
    color: transparent;
    display: inline-block;
    animation: gradientShiftReverse 5s linear infinite;
}

h3 {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, blueviolet, firebrick);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    padding: 20px;
    margin: 10px;
    margin-top: 60px;
    background-clip: text;
    font-size: 1.6rem;
    color: transparent;
    animation: gradientShift 5s linear infinite;
}

h4 {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, blueviolet, firebrick);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    padding: 20px;
    margin: 10px;
    margin-top: 60px;
    background-clip: text;
    font-size: 1.6rem;
    color: '';
    animation: gradientShift 5s linear infinite;
}

h5 {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, blueviolet, firebrick);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    padding: 20px;
    margin: 10px;
    margin-top: 60px;
    background-clip: text;
    font-size: 1.6rem;
    color: transparent;
    animation: gradientShiftReverse 5s linear infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientShiftReverse {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

p {
    color: rgb(137, 3, 247);
    white-space: normal;
    overflow-wrap: break-word;
}
 
.wave-animation { 
    display: inline-block; 
    animation: wave 2s infinite; /* Animation par défaut */ 
} 

@keyframes wave { 
    0%, 100% { 
        transform: translateY(0); 
    } 
    50% { 
        transform: translateY(-10px); 
    } 
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #818181;
    border-radius: 5px;
}

nav ul li.active a { 
    background-color: #333;
    background: #505050;
    border-radius: 5px;
}

nav ul li.active a:hover {
    background-color: #818181;
    border-radius: 5px;
}

.logo-container {
    position: fixed;
    bottom: 0;
    right: 0;
    perspective: 800px;
    margin: 10px;
    margin-right: -5px;
}

.box {
    position: relative;
    width: 10vw; /* Équivalent à 200px en unités relatives */
    height: 10vw; /* Équivalent à 200px en unités relatives */
    transform-style: preserve-3d;
    animation: rotate 9s infinite linear;
}

.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube .front, .cube .back {
    position: absolute;
    width: 5vw; /* Équivalent à 100px en unités relatives */
    height: 5vw; /* Équivalent à 100px en unités relatives */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 57, 57, 0.9734);
    color: #fff;
    font-family: '';
    font-size: 1.2vw; /* Équivalent à 24px en unités relatives */
    border: 0.1vw solid #333; /* Équivalent à 2px en unités relatives */
}

.cube .left, .cube .right, .cube .top, .cube .bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: '';
    font-size: 1.2vw; /* Équivalent à 24px en unités relatives */
    border: 0.1vw solid #333; /* Équivalent à 2px en unités relatives */
}

.cube .left, .cube .right {
    width: 0.83vw; /* Équivalent à 16.67px en unités relatives */
    height: 5vw; /* Équivalent à 100px en unités relatives */
    background-color: rgba(57, 0, 57, 0.836);
}

.cube .top, .cube .bottom {
    width: 5vw; /* Équivalent à 100px en unités relatives */
    height: 0.83vw; /* Équivalent à 16.67px en unités relatives */
    background-color: rgba(57, 0, 57, 0.836);
}

.face1 {
    transform: rotateX(0deg) translateZ(0.25vw); /* Équivalent à 5px en unités relatives */
}

.face2 {
    transform: rotateX(240deg) translateZ(0.25vw); /* Équivalent à 5px en unités relatives */
}

.face3 {
    transform: rotateX(120deg) translateZ(0.25vw); /* Équivalent à 5px en unités relatives */
}

.cube .front {
    transform: translateZ(0.5vw); /* Équivalent à 10px en unités relatives */
}

.cube .back {
    transform: rotateY(180deg) translateZ(0.5vw); /* Équivalent à 10px en unités relatives */
}

.cube .left {
    transform: rotateY(-90deg) translateZ(0.45vw); /* Équivalent à 10px en unités relatives */
}

.cube .right {
    transform: rotateY(90deg) translateZ(4.45vw); /* Équivalent à 90px en unités relatives */
}

.cube .top {
    transform: rotateX(90deg) translateZ(0.45vw); /* Équivalent à 10px en unités relatives */
}

.cube .bottom {
    transform: rotateX(-90deg) translateZ(4.5vw); /* Équivalent à 90px en unités relatives */
}

@keyframes rotate {
    0%, 13.33% { transform: rotateX(0deg) scale(1); }
    33.33%, 46.66% { transform: rotateX(120deg) scale(1); }
    66.66%, 80% { transform: rotateX(240deg) scale(1); }
    100% { transform: rotateX(360deg) scale(1); }
}

main {
    text-align: center;
    padding: 20px;
}



.link {
    position: relative;
    padding: 20px;
    align-content: center;
    justify-content: center;
    display: inline-block;
}

.link:hover:hover {
    animation: shake 0.5s infinite;
}

@keyframes shake { 
    0%, 100% { 
        transform: translate(-2px, 2px); 
    } 
    25% { 
        transform: translate(2px, -2px); 
    } 
    50% { transform: translate(-2px, 2px); 
    } 
    75% { transform: translate(2px, -2px); 
    } 
}

.matrix {
    position: fixed; /* Utiliser fixed pour couvrir tout l'écran */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.matrix div { 
    position: absolute; 
    color: green;
    font-size: 14px; 
    line-height: 14px; 
    white-space: nowrap; 
    will-change: transform; 
    animation: fall linear infinite; 
}

.column {
    position: absolute;
    top: -100px;
    width: 14px;
    animation: fall linear infinite;
}

.symbol { 
    display: block; 
    opacity: 1; 
    transition: opacity 1s;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(2300%);
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 20px;
    border-radius: 19px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
